<body>
    <main>
            <section class="forecast" >
                    
                    
                    <div class = "forecast-days">
                        <div class="forecast-info" *ngFor="let forecastday of forecastdays" (click) ="onForecastHour(forecastday.date)">
                            <div class="forecast-left">
                                <h5> {{ forecastday.date }}</h5>
                                <img [src]="forecastday.day.condition.icon" alt="Weather Icon">
                                <p> {{ forecastday.day.maxtemp_c }}/{{ forecastday.day.mintemp_c }}°C</p>
                                <p> {{forecastday.day.condition.text}}</p>   
                                
                            </div>
                            <div class="forecast-right">
                                <p> <img src="/assets/icon/precip.svg" alt="image" height="35" width="35"><strong>Total Precipitation:</strong> {{ forecastday.day.totalprecip_mm }} mm</p>
                                <p> <strong>Chance of Rain: </strong>{{ forecastday.day.daily_chance_of_rain }}%</p>
                                <p> <img src="/assets/icon/visibility.svg" alt="image" height="35" width="35"><strong>Average Visibility: </strong>{{ forecastday.day.avgvis_km }} km</p>
                                <p> <img src="/assets/icon/wind.svg" alt="image" height="35" width="35"><strong> Max Wind Speed: </strong>{{ forecastday.day.maxwind_kph }} km</p>
                            </div>
                        </div>
                    </div>
            </section>
    </main>
</body>