.uv-index-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .uv-index-bar {
    height: 20px;
    background: rgb(0,255,245);
    background: linear-gradient(90deg, rgba(0,255,245,1) 0%, rgba(64,255,0,1) 20%, rgba(238,255,0,1) 40%, rgba(255,137,0,1) 60%, rgba(255,0,0,1) 80%, rgba(254,0,255,1) 100%);
    position: relative;
    border-radius: 10px;

  }

  .uv-index-indicator {
    height: 80%;
    width: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(94, 92, 92);
    border-width: 2px;
    background-color: #ffffff;
    position: absolute;
    transition: left 0.3s ease;
  }

