<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    
</head>

	    
<body>

            <div class="title">
                <p><strong>Global Weather</strong></p>
            </div>
            <form #textForm="ngForm" class="search-box"(ngSubmit)="onSubmit(textForm.value)">
                <div class="search" >
                    
                    <input type="text" id="text" class="search-input" name="text" [(ngModel)]="text" placeholder="Search location"required>
                </div>
                <button type="submit" class="submit" [disabled]="!textForm.form.valid">Submit</button>
            </form>             
       
                        
        
 
        
    
    
</body>
