<body>
    <main>
            <section class="forecast" >
                    
                    
                    <div class = "forecast-hours">
                        <div class="forecast-info" *ngFor="let forecasthour of forecasthours; let i = index"  (click)="toggleExpansion(i)" [@expandCollapse]="isListExpanded(i)?'expanded':'collapsed'">
                            <div class="forecast-unexpanded">
                                <div class="forecast-left">
                                    <h5> {{ forecasthour.time }}</h5>
                                    <img [src]="forecasthour.condition.icon" alt="Weather Icon">
                                    <p> {{ forecasthour.temp_c }}°C</p>
                                    <p> {{forecasthour.condition.text}}</p>   
                                    
                                </div>
                                <div class="forecast-right">
                                    <p><img src="/assets/icon/precip.svg" alt="image" height="35" width="35"><strong> Precipitation: </strong>{{ forecasthour.precip_mm }} mm</p>
                                    <app-wind-animation [windDegree]="forecasthour.wind_degree" [windDirection]="forecasthour.wind_dir" [windSpeed]="forecasthour.wind_kph"></app-wind-animation>
                                    
                                </div>
                            </div>
                            
                            <div *ngIf="isExpanded[i]" class = "forecast-expanded">
                                <div class="forecast-left">
                                    <app-uv-animation [uvIndex]="forecasthour.uv"></app-uv-animation>
                                    
                                    <p> <strong>Feelslike: </strong>{{ forecasthour.feelslike_c }}°C</p>
                                    <p> <strong>Windchill: </strong>{{forecasthour.windchill_c}}°C</p>   
                                    <p> <strong>Heatindex: </strong>{{ forecasthour.heatindex_c }}°C</p>
                                    <p> <strong>Dewpoint: </strong>{{forecasthour.dewpoint_c}}°C</p>  
                                    
                                    
                                    
                                </div>
                                <div class="forecast-right">
                                    
                                    <p> <img src="/assets/icon/visibility.svg" alt="image" height="35" width="35"><strong> Visibility:</strong> {{ forecasthour.vis_km }} km</p>
                                    <p> <img src="/assets/icon/humidity.svg" alt="image" height="35" width="35"><strong> Humidity: </strong>{{ forecasthour.humidity}}%</p>
                                    <p> <img src="/assets/icon/cloud.svg" alt="image" height="35" width="35"><strong>Cloud: </strong>{{ forecasthour.cloud }}% </p>
                                
                                    <p> <strong>Chance of Rain: </strong> {{ forecasthour.chance_of_rain }}%</p>
                                    <p> <strong>Chance of Snow: </strong>{{ forecasthour.chance_of_snow }}%</p>
                                    <p> <strong>Amount of Snow: </strong>{{ forecasthour.snow_cm }} cm</p>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
            </section>
    </main>
</body>
