<body>
    
   
    <main>
        
            <section class="astro" >
                <h2>Air Quality</h2>
                <div class="astro-box">
                    <div class="astro-left">
                        <p><strong>CO:</strong> {{ weather.current.air_quality.co }}</p>
                        <p><strong>O3:</strong> {{ weather.current.air_quality.o3  }}</p>
                        <p><strong>SO2:</strong> {{ weather.current.air_quality.so2 }}</p>
                        <p><strong>NO2:</strong> {{ weather.current.air_quality.no2  }}</p>
                    </div>
                    <div class="astro-right">
                        <p><strong>PM2.5:</strong> {{ weather.current.air_quality.pm2_5  }}</p>
                        <p><strong>PM10:</strong> {{ weather.current.air_quality.pm10 }}</p>
                        <p><strong>Epa Index:</strong> {{weather.current.air_quality['us-epa-index'] }}</p>
                        <p><strong>Defra Index:</strong> {{ weather.current.air_quality['gb-defra-index'] }}</p>
                    </div>
                
                </div>
                <p>Last update: {{weather.current.last_updated}} local time </p>
                
            </section>
            
         
       
        

       
        
        

            
       
        

    
        
    </main>
    
</body>

