.air {
    background-color: #fff;
    
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    height: 180%;
    width: 800px;
   
    
    
}

.air-box{
    display: flex;
    flex-direction: column;
    margin-top: 0;

}
.air-row{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
}
.air-left{
    padding: 40px;
    font-size: 20px;
    margin-right: 200px ;
    margin-left: 50px ;
    
    

}
.air-right{
    padding: 40px;
    font-size: 20px;
    margin-left: 200px ;
    margin-right: 50px ;
    
    

}
body{
    background-color: rgb(236, 241, 245);
    background-size:cover;
    min-height: 200vh;
    border-style: solid;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
   
}
main{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    
    
    
}


h5{
    padding: 10px;
}