/* styles.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #08141b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Basic styling for the navigation */
nav {
    background-color: #344b5a;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styling for main content */
main {
    

}

/* Styling for sections */
section {
    
    float:center;
    margin: 15px;

}

/* Styling for current weather section */
.current-weather {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    height: 50%;
    
    text-align: center;
    justify-content: center;
    align-items: center;
}
.current-weather:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.current-weather-box{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 40px;
   
}
.current-weather-left{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;

}
.current-weather-right{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 10px;

}

/* Styling for forecast section */
.forecast {
    background-color: #fff;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;


    
    
    
}
.forecast:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.forecast-days{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.forecast-info{
    width: 20%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    padding: 18px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 500;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    font-size: 18px;
}

/* Basic styling for footer */
footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    float:down;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
body{
    background-color: rgb(236, 241, 245);
    background-size:cover;
    min-height: 200vh;
   
}

.air-quality{
    background-color: #fff;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
    
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;

}

.air-quality:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.air-quality-box{
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    font-size: 20px;
    line-height: 50px;

}
.astro {
    background-color: #fff;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(139, 138, 138, 0.74);
    border-width: 1px;
   
    height: 60%;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    
    
    
}
.astro:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.astro-info{
    
    
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    font-size: x-small;
    font-weight: 400;
    
    margin: auto;
    font-size: 20px;
}
.astro-text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.container{
    width: 1600px;
    height: 1100px;
    position: absolute;
    left: 50%;
    
    transform: translate(-50%,-0%);
    display: flex;
    flex-direction: row;
  
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 55%;
   
    
    
}
.right-container{
    width: 45%;
    display: flex;
    flex-direction: column;
   
    
}
.map{
    width: 600px;
    height: 300px;
}